{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heart-Charity</title>

    <!-- CSS FILES -->
    <link href="{% static './css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static './css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static './css/templatemo-kind-heart-charity.css' %}" rel="stylesheet">


</head>



{% block content %}

{% endblock %}


<script src="{% static './js/jquery.min.js' %}"></script>
<script src="{% static './js/bootstrap.min.js' %}"></script>
<script src="{% static './js/jquery.sticky.js' %}"></script>
<script src="{% static './js/counter.js' %}"></script>
<script src="{% static './js/custom.js' %}"></script>

<script src='https://www.google.com/recaptcha/api.js'></script>
  <script src='https://www.google.com/recaptcha/api.js?render=6Lc7bkkjAAAAADj7JytMUhnDC-EpUgqHo3umaacf'></script>

<script>
    // auto close alert after 3 seconds
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);

</script>

<!--recaptcha response-->
<script>
    //global grecaptcha
    grecaptcha.ready(function () {
        grecaptcha.execute('{{recaptcha_site_key}}', { action: "/" }).then(function (token) {
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script>

<!-- <script src="https://www.google.com/recaptcha/enterprise.js?render=6LdxpEgjAAAAAGVoHDvg7KEubT-u7gZycEocC8rD"></script>
<script>
    grecaptcha.enterprise.ready(function () {
        grecaptcha.enterprise.execute('6LdxpEgjAAAAAGVoHDvg7KEubT-u7gZycEocC8rD', { action: 'login' }).then(function (token) {
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script> -->

</html>