{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heart-Charity</title>

    <!-- CSS FILES -->
    <link href="{% static './css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static './css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static './css/templatemo-kind-heart-charity.css' %}" rel="stylesheet">
    <!--

TemplateMo 581 Kind Heart Charity

https://templatemo.com/tm-581-kind-heart-charity

-->

</head>

<!-- {% include 'navbar.html' %} -->

{% block content %}

{% endblock %}

<!-- {% include 'footer.html' %} -->

<script src="{% static './js/jquery.min.js' %}"></script>
<script src="{% static './js/bootstrap.min.js' %}"></script>
<script src="{% static './js/jquery.sticky.js' %}"></script>
<script src="{% static './js/counter.js' %}"></script>
<script src="{% static './js/custom.js' %}"></script>

</html>